##EJERCICIO DE METODOS

In [ ]:
def npc(a,b):
  if a>b:
    print(f" {a} es el mayor")
  else:
    print(f" {b} es el mayor")

In [ ]:
print(npc(4,5))

None

In [ ]:
def mayor(x,y,z):
 npc(x,npc(y,z))

In [ ]:
print(mayor(4,5,6))

##3. Sumar los números de una lista de 3 elementos. Ejemplo [3,4,5]. Salida: 12

In [ ]:
lista=[3,4,5]
def sumar(lista):
  a=0
  a=lista[0]+lista[1]+lista[2]
  return a

In [ ]:
sumar(lista)

12

##4. Sumar los números de una lista de 4 elementos. Ejemplo [3,4,5,6]. Salida: 18

In [ ]:
lista4=[3,4,5,6]
def sumar4(lista4):
  a=0
  a=lista4[0]+lista4[1]+lista4[2]+lista4[3]
  return a

In [ ]:
sumar4(lista4)

18

##5.Sumar todos los números de una lista. Ejemplo: (8,5,3,1). Salida: 17

In [44]:
lista5=[8,5,3,1]
def sumar5(lista5):
  d=len(lista5)
  a=0
  for i in range(d):
    a=a+lista5[i]
  return a

In [51]:
sumar5(lista5)

17

In [52]:
def sumar05(lista5):
  d=len(lista5)
  a=0
  for i in lista5:
    a+=i
  return a

In [53]:
sumar05(lista5)

17

##6. Multiplicar los números de una lista de 3 elementos. Ejemplo [0,4,5]. Salida: 0

In [69]:
lista6=[3,4,5]
def multi6(lista6):
  a=0
  a=lista6[0]*lista6[1]*lista6[2]
  return a

In [70]:
multi6(lista6)

60

##7. Multiplicar los números de una lista de 4 elementos. Ejemplo [3,4,5,1]. Salida: 60

In [73]:
lista7=[3,4,5,1]
def multi7(lista7):
  a=0
  a=lista7[0]*lista7[1]*lista7[2]*lista7[3]
  return a

In [74]:
multi7(lista7)

60

##8. Multiplicar todos los números de una lista. Ejemplo: (1,2,3,-1). Salida: -6

In [93]:
lista8=[1,2,3,-1]
def multi8(lista8):
  a=1
  for i in lista8:
    a=a*i
  return a

In [94]:
multi8(lista8)

-6

##9. Invierta un String. Ejemplo: ingresa Hola y retorna aloH

In [78]:
a=input(" ingresa tu string ")
str = a
string_reversed=[]
i = len(str)
while i > 0: 
    string_reversed += str[i-1]
    i = i - 1 
print("tu palanra al reves es ", string_reversed)

ingresa tu stringhola
tu palanra al reves es  ['a', 'l', 'o', 'h']

In [82]:
a=input(" ingresa tu string ")
str = a

reversed_string=''.join(reversed(str))

print("tu palanra al reves es ", reversed_string)

 ingresa tu string hola
tu palanra al reves es  aloh

##10. Calcular el factorial de un número

In [98]:
def factorial(a):
  for a in range (2,a+1):
    ab=a-1
    resultado=a*ab
    return resultado
print(factorial(4))

2

##11. Si un número está dentro de un rango.

In [112]:
def n(ntt,a,b): 
  if ntt in range(a, b): 
        print("si esta en el rango ")
  else:
        print("no esta el rango ")

In [ ]:
  a=int(input("ingresa el inicio del rango "))
  b=int(input("ingresa el final del rango ")  )
  n =int(input("ingresa un numero para ver si esta en el rango ya establecido "))

n(1,4,3)

##17.  Chequear si una palabra es palíndromo o no. Ejemplo: “Ana” es un palíndromo

In [99]:
palabra= input("Ingrese una palabra: ").lower()
rever = palabra[::-1]
if palabra == rever:
    print("La palabra ingresada si es palindromo!!")
else:
    print("La palabra ingresada no es palindromo!!")

Ingrese una palabra: ana
La palabra ingresada si es palindromo!!