#LAMBDA O FUNCIONES ANONIMAS
* Funciones pe queñas, de facil acceso y rápidas 
* puede contener varios argumentos,peros sólo una expresión

Definiendo lamda:
lambada(parámetro):expresión

In [34]:
##funcion que eleva al cuadrado 
lista=[3,7,6,9]
lista2=[n**2 for n in lista]
lista2

[9, 49, 36, 81]

In [35]:
entrada=[1,3,4,]

In [25]:
def elevar(*entrada): #se coloca * para indicar que va a entrar ana lista
  for i in range(len(entrada)):
    int(entrada[i])
    print(entrada)
    print(i**2)

In [26]:
lambda1=lambda x:x**2
lambda1(2)

4

In [27]:
lambda2=lambda x,y:x**y
lambda2(2,4)

16

In [28]:
lambda3=lambda num:True if num*2>=0 else False
lambda3(3)

True

In [29]:
letras={"A":4, "B":3, "C":1}
sorted(letras,key=lambda x:letras[x]%3)

['B', 'A', 'C']

In [38]:
import random 
mi_lista=[1,2,3,4,5,6,7,8,9]
filtrado=[n for n in mi_lista if n%2]

##FUNCIONES DE OREDEN SUPERIOR 
la funcion se aplica a cada elementode la lista 

*map(una_funcion,una_lista)

In [44]:
cuadrados=[]#creando una lista vacia
for i in lista:
  cuadrados.append(i**2)
  print(cuadrados)

[9]
[9, 49]
[9, 49, 36]
[9, 49, 36, 81]

In [45]:
cuadrado2=[x**2 for x in lista]##comprensión
cuadrado2

[9, 49, 36, 81]

In [47]:
cuadrado3=list(map(lambda x:x**2, lista))
cuadrado3

[9, 49, 36, 81]

##2. FILTER 
FILTRAR. si se cumple la condición devuelve true

se define: filter(una_funcion_una _lista)

In [49]:
valores=[num for num in range(1,10)]
pares=[]
for valor in valores:
  if valor%2==0:
    pares.append(valor)
print(pares)

[2, 4, 6, 8]

In [50]:
valor2=[lol for lol in valores if lol%2==0]
valor2

[2, 4, 6, 8]

In [51]:
valor3=list(filter(lambda julito: julito%2==0,valores))
valor3

[2, 4, 6, 8]

##3.REDUCE:
es un acumulador
**Para usar reduce se debe importar el modulo functools**

In [58]:
from functools import reduce

def suma(lista):
  suma=0
  for i in lista:
    suma+=i ##suma=suma+i
  return suma
print(suma(valores))

45

In [60]:
suma1=reduce(lambda x,y:x+y,valores)
suma1

45